venv/
__pycache__/
*.pyc
.env
data/raw/*
!data/raw/.gitkeep
data/cocoa/*
!data/cocoa/.gitkeep
data/pseudo_labels/*
!data/pseudo_labels/.gitkeep
data/train_ready/*
!data/train_ready/.gitkeep
outputs/
*.ckpt
*.safetensors
*.pt
.ipynb_checkpoints/
.DS_Store
